@import "theme";

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $dark-brown;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;

  h3 {
    color: $cream;
    font-size: 1rem;
    margin: 0 1.5rem;
  }

  &__items {
    display: flex;
    gap: 1.5rem;
    margin: 0 1.5rem;
  }

  &__items > * {
    font-size: 1.25rem;
    cursor: pointer;
    fill: $cream;
  }
}
