@import "theme";

.parameters {
  width: 80%;
  margin: auto;
  border-top: 1px solid $cream;

  &__title {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    flex-wrap: wrap;
  }

  &__select-all {
    width: auto;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: none;
  }

  &__checkboxes {
    margin: 0 3.125 rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
  }

  &__checkboxes label {
    text-align: right;
    margin-bottom: 0.938rem;
    cursor: pointer;
  }

  &__checkboxes input {
    margin-right: 0.3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    accent-color: $brown;
  }

  &__checkbox {
    width: 20%;
  }
}

@media only screen and (max-width: 1100px) {
  .parameters {
    &__checkbox {
      width: 50%;
    }

    &__checkboxes {
      margin: 0 2rem;
      padding: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 1.25rem;
    }

    &__title {
      gap: 0;
    }
  }
}

@media only screen and (max-width: 539px) {
  .parameters {
    &__title {
      gap: 0;
    }

    &__select-all {
      padding-bottom: 1rem;
    }

    h2 {
      padding-bottom: 0;
    }
  }
}
