@import "theme";

.workout {
  background-color: $cream;
  width: 50%;
  margin: auto;
  padding-bottom: 1.25rem;

  &__title {
    padding-top: 1.5rem;
  }

  &__list {
    font-size: 1.25rem;
    padding: 0 3rem;
  }

  &__item {
    cursor: pointer;
    padding: 0 2rem;
  }

  &__item-instructions {
    display: none;
  }

  &__item-instructions--visible {
    display: block;
  }
}
